/* Container for the entire Kanban board */
body {
  background-color: #f1f7fb;
}

.kanban-board {
  padding: 10px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1px; 
}

/* Controls for Grouping and Sorting dropdowns */
.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; 
  margin-top: 1px; 
}

.controls .dropdown {
  display: flex;
  flex-direction: column;
  gap: 6px; 
}

.controls select {
  padding: 5px;
  font-size: 14px;
  margin: 0 5px;
}

/* Container for the Kanban columns */
.board-columns {
  display: flex;
  justify-content: flex-start; 
  gap: 5px; 
  overflow-x: auto;
  margin-top: 1px; 
}

/* Styling for individual Kanban columns (Todo, In Progress, etc.) */
.column {
  flex: 1;
  min-width: 160px; 
  padding: 8px; 
  border-radius: 8px;
  margin: 0 2px; 
}

/* Heading inside columns */
.column h3 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px; 
}




